* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    background-color: black;
    color:white;
    text-align: center;
}

p{
    text-align: center;
    padding: 10px;
}
div{
    text-align: center;
}
