.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-item {
  width: calc(50% - 20px);
  background-color: rgb(13, 12, 12);
  text-align: center;
  line-height: 50px;
  color: beige;
}
@media screen and (max-width: 1024px) {
  .flex-item {
    width: calc(100% - 20px);
  }
}
