body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: aliceblue;
  color: #333;
  margin: 30px;
}
/*header*/
.top-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.top-header img {
  width: 50px;
}
.info img {
  border-radius: 50%;
}
.trip {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 10px;
  font-weight: bold;
}
.info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.container {
  margin: 30px;
  gap: 40px;
}
.list {
  color: #121212;
  font-size: 14px;
}
h1 {
  padding: 50px 0 50px 0px;
}
h2 {
  margin-top: 30px;
}
.box {
  width: 320px;
  background: #f5f5f7;
  padding: 18px 20px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}
.box h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.box p {
  margin: 4px 0 0;
  color: #7a7a7a;
  font-size: 14px;
}
.box i {
  color: #8e8e8e;
  font-size: 16px;
  cursor: pointer;
}
/*aside*/
aside {
    width: 30%;
    border-radius: 20px;
    margin: 50px;
    position: absolute;
    top:50px;
    right:50px;
}

/* Card */
.payment img {
  height: 50px;
  margin-right: 10px;
  margin-bottom: 20px;
  border: 2px solid #fff;
}
.card-container {
  display: flex;
  gap: 20px;
  padding: 10px;
  width:60%;
  margin-top:100px;
}

.card {
  width: 320px;
  height: 180px;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: sans-serif;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.card-blue {
  background: #dfe8ff;
}

.card-green {
  background: #cfe7b5;
}

.card-number {
  font-size: 18px;
  letter-spacing: 1px;
  color: #333;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo {
  width: 45px;
}

.input-field {
  position: relative;
  margin: 8px 0 18px;
}
.input-field.full input {
  width: 100%;
}

.input-field input {
  width: 40%;
  padding: 14px;
  padding-right: 35px;
  border: 1px solid #cfcfff;
  border-radius: 10px;
  background: #fafafa;
}
.checkmark {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #7c82ff;
  font-size: 18px;
}
.row {
  display: flex;
  gap: 20px;
}

.col {
  flex: 1;
}
.checkbox-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0 25px;
  font-size: 14px;
}

.checkbox-row input {
  width: 18px;
  height: 18px;
}
.btn {
  width: auto;
  background: #2962ff;
  color: white;
  padding: 14px 0 10px 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.btn:hover {
  opacity: 0.9;
}
/* Sub box */
.sub-box {
  background: #1f6bff;
  color: white;
  padding: 50px;
  border-radius: 20px;
  width: 70%;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe-box h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.subscribe-box p {
  opacity: 0.9;
}
.email-box {
  background: white;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.email-box input {
  border: none;
  outline: none;
  padding: 12px;
  width: 260px;
  border-radius: 8px 0 0 8px;
}
.email-box button {
  background: #222;
  color: white;
  padding: 12px 22px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.email-box button:hover {
  opacity: 0.9;
}

.hotel-box {
  background-color: #ece9e9;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 4px rgba(0, 0, 0, 1);
}
.hotel-box img {
  width: 100%;
  border-radius: 12px;
  margin: 10px 0;
}
.check {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.price-row {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
}
.report {
  text-align: center;
  opacity: 0.3;
}
/* footer */
.footer {
  width: 90%;
  margin: 50px auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.footer-left {
  width: 260px;
}
.footer h1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-logo img {
  width: 50px;
}
.footer-col h3 {
  margin-bottom: 15px;
}

.footer-col a {
  display: block;
  margin-bottom: 10px;
  color: #555;
  text-decoration: none;
}

.footer-col a:hover {
  color: #000;
}
/* đổi màn điện thoại */

@media (max-width: 768px) {
  body {
    margin: 0;
    background-color: #d8ebb0;
  }

  .top-header {
    padding: 18px 16px;
  }

  .trip {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
  }

  .info {
    justify-content: flex-end;
    gap: 10px;
  }

  .container {
    width: 95%;
    margin: 18px auto;
  }

  aside {
    float: none;
    width: 95%;
    
    position: relative;
    top: 10px;
  }

  .box {
    display: block;
    margin: 12px auto 30px auto;
  }
  .cre{
    margin:30px;
    
  }
  .card-container {
    width: 80%;
    flex-direction: column;
    gap: 14px;
    padding: 10px 0;
  }

  .card {
    width: 100%;
    height: auto;
    padding: 16px;
  }

  .row {
    flex-direction: column;
  }
  .col {
    width: 100%;
  }

  .btn {
    width: 95%;
    display: block;
    margin: 12px auto 30px auto;
  }

  .sub-box {
    width: 90%;
    flex-direction: column;
    gap: 18px;
    padding: 28px;
  }
  .sub-right {
    width: 90%;
  }
  .email-box input {
    width: 100%;
  }

  .footer {
    flex-direction: column;
    gap: 20px;
    width: 95%;
    margin: 30px auto;
  }
  .footer-left,
  .footer-col {
    width: 100%;
  }

  .payment img {
    height: 56px;
  }
  .hotel-box img {
    max-height: 180px;
    object-fit: cover;
  }
}
