body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.top-header {
    background: #4CAF50;
    text-align: center;
    padding: 20px 0;
    color: white;
}

.top-header nav a {
    color: blue;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}


.container {
    display: flex;
    padding: 20px;
}


.sidebar {
    width: 200px;
    padding:10px;
    border:1px solid rgb(232, 229, 229);
}

.sidebar h3 {
    margin-top: 0;
}

.sidebar ul {
    list-style: square;
    padding-left: 20px;
}

.sidebar a {
    text-decoration: none;
    color: #1366cc;
}


.content {
    flex: 1;
    padding-left: 20px;
}

.post {
    margin-bottom: 40px;
}

.post-box {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.post-box img {
    width: 140px;
    height: auto;
    border: 1px solid #ccc;
}


footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    font-size: 14px;
}
