div {
    margin:50px 50px;;
    width: 200px;
    height: 100px;
    color: white;
    background-color: gray;  
    display: flex;
    align-items: center;
    justify-content: center;   
    transition: transform 0.4s ease;
}

div:hover {
    transform: rotate(-20deg);
}

