div {
    margin:50px 50px;;
    width: 100px;
    height: 100px;
    color: white;
    background-color: grey;  
    display: flex;
    align-items: center;
    justify-content: center;   
    transition: transform 0.4s ease;
}

div:hover {
    transform: scale(1.9);
}

