*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.header{
    height:50px;
    background-color:blue;
    color:white;
    line-height:50px;
    margin-bottom: 10px;
    padding-left:10px;
}
.container {
    display:flex;
    gap:10px;
    height: calc(100vh - 120px);
}
.sidebar{
    width:25%;
    background-color:red;
    color:white;
    padding:10px;
}
.content{
    flex:1;
    background-color:green;
    color:white;
    padding:10px;
}
.footer{
    height:50px;
    background-color:gray;
    margin-top:10px;
    color:white;
    padding:10px;
}