* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f0f0f0;
    color: #333;
}

.container {
    max-width: 100%;
}
/* 
/* Navigation */
.container .nav-header {
    background: #2d3436;
    color:white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .nav-header a {  
    color:white;
    margin: 0;
    padding:5px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}
.main {
    display: flex;
    align-items: center;
    padding: 40px;
    background: #b5b3b3;
    
}


.main p {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
h3{
    margin:10px;
}
.container img{
    width:100px;
    height:100px;
    border-radius: 20%;
    
}
.box-list {
    display: flex;
    gap: 20px;
    padding: 0;
    list-style: none;
}

.box-list li {
    flex: 1;
    background: #1e2229;
    padding: 15px;
    text-align: center;
    color: white;
    border-radius: 8px;
    font-weight: bold;
}