*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color:#f4f4f4;
    color:#333;
    padding:20px;
}
h1{
    color:orange;
}
p{
    color:blue;
}
.text-red{
    color:red;
}
div{
    background-color:#fff7d6;
    margin: 20px 0;
    padding: 20px;
    border-left: 5px solid orange;
}