.flex-container{
    display:flex;
    flex-wrap: wrap;
    gap:20px;
}
.flex-item{
    width: calc(25% - 20px );
    background-color: pink;
    
    text-align: center;
    line-height: 50px;
}
@media screen and (max-width:1024px) {
    .flex-item{
        width: calc( 50% - 20px);
    }
}
@media screen and (max-width:690px) {
    .flex-item{
        width:calc( 100% - 20px);
    }
}