* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.top-header{
    background-color:rgb(63, 62, 62);
    color:white;
    padding:5px;
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.top-header nav a{
    color:white;
    text-decoration: none;
    margin-right: 20px;
}
h1{
    margin-left: 250px;
}
main{
    display:block;
    justify-content: center;
    margin-left: 100px;
    padding:20px;
}

.content-box{
    background-color: rgb(240, 238, 238);
    width:50%;
    padding:25px;
    border-radius: 4px;
    box-shadow: 0 20px 10px rgb(236, 228, 228);
    margin:10px;
}
.content-box h2 {
    padding-bottom:20px;
}
.post{
    padding-bottom:20px;
    border-bottom: 1px solid #e0e0e0;
}
.post p{
    margin:10px ;
}

main a{
    text-decoration: none;
}
main a:hover{
    text-decoration: underline;
    color:aqua;
}
footer{
    background-color:rgb(63, 62, 62);
    text-align:center;
    padding:20px;
    color:white;
}