* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background: url("./img/background.webp")
    no-repeat center center/cover;
    height: 100vh;
}
h1{
    text-transform: uppercase;
    display:flex;
    justify-content: center;
    padding:20px;
    color:#ccc;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 350px;
    background: white;
    padding: 25px 30px;
    border-radius: 4px;
    text-align: center;
}

.login-box h2 {
    background: #20a0e0;
    color: white;
    padding: 12px 0;
    margin: -25px -30px 20px -30px;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.submit {
    width: 100%;
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
}

.submit:hover {
    background: #e64545;
}

.or {
    margin: 15px 0;
    font-weight: bold;
}

.social a {
    margin: 0 5px;
    display: inline-block;
    color: white;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
}

.fb { background: #3b5998; }
.x { background: #080808; }
.gg { background: #db4437; }

.signup, .forgot {
    margin-top: 10px;
    font-size: 14px;
}

.signup a, .forgot a {
    color: #3498db;
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 14px;
    opacity: 0.6;
}