*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
 

.flex-container{
    display:flex;
    gap:20px;
    padding:20px;
    
}
.left{
    display:flex;
    flex-direction: column;
    gap:10px;
    width:60%;
    line-height: 50px;
}
.large{
    background-color:#28394c;
    color:white;
    padding: 50px ;
    text-align: center;
    border-radius:4px;
}
.right{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width:40%;
}
.small{
   background-color:#28394c;
   color:white;
   padding: 20px;
   text-align: center;
   border-radius: 4px;
}