*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content:center;
    align-items: center;   
    background-color:white;
    font-family: "Times New Roman", Times, serif;
    padding-top: 100px;
}
.container {
    position:relative;
    width: 400px;
    height: 400px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 10px;
}
.container form{
    position:absolute;
    inset:4px;
    padding:40px 40px;
    border-radius: 8px;
    display:flex;
    flex-direction:column;
}
.container form h2{
    font-weight: 500;
    font-size:30px;
    text-align:center;
    letter-spacing: 1px;
}
.container form .inputbox{
    position:relative;
    width:300px;
    margin-top:20px;
}
.container form .inputbox input{
    position:relative;
    width:100%;
    padding:10px 0;
    border:none;
    outline:none;
    color:bisque;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.5s;
    z-index:10;
}
.container form button{
    padding:9px 25px;
    background-color:rgb(58, 58, 237);
    color:white;
    font-size:18px;
    border-radius: 10px;
    margin-top:10px;
}
.container form span{
    padding:10px;
}
