*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display:grid;
    place-items: center;
    min-height:50vh;
}
.keyboard{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
button{
    background-color: rgb(34, 34, 114);
    color:#f4f4f4;
    border:none;
    display: inline-flex;
    padding: 0.5rem 1rem;
    margin: 0.3rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.delete{
    background-color: red;
}
.space{
    width: 350px;
    display:flex;
    justify-content: center;
}
.textaera{
    width:100%;
    display:flex;
    justify-content: center;
    margin-bottom:2rem;
}
textarea{
    width:100%;
    height:150px;
    resize: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    outline:none;
    border-radius: 0.5rem;
    border: 2px solid rgb(34, 34, 114);
}
