div {
    margin:50px 50px;;
    width: 200px;
    height: 100px;
    color: white;
    background-color: rgb(51, 210, 74);  
    display: flex;
    align-items: center;
    justify-content: center;   
    box-sizing: border-box;
}

div:hover {
    border: 10px inset blue;

}
