.header{
    background-color: black;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
nav ul{
    list-style:none;
    display:flex;
    gap:10px;
}
.banner{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: gray;
    font-size: 100px;
}
.information{
    margin-top:20px;
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    margin-left: 10px;
}
.item{
    width: calc( 50% - 20px );
    background-color:rgb(161, 158, 158);
    line-height: 50px;
    text-align: center;
}
.item-large{
    width: calc( 100% - 20px );
}
@media screen and ( max-width:690px ) {
    .item{  
    width:calc(100% - 20px);
}
}