.flex-container{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
}
.flex-item{
    width: calc( 25% - 20px);
    height:50px;
    background-color: green;
    color:white;
    text-align:center;
    line-height: 50px;
    border-radius: 4px;
}
.large{
    width: calc( 50% - 20px);
}