*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    background-color:rgb(52, 52, 224);
    margin: 50px auto;
    text-align: center;  
    font-size: 15px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    margin: 10px ;
    padding:10px ; 
}


p {
    display: inline-block;
    font-size: 18px; 
}
footer{   
    margin-top: 20px;
    background-color: rgb(233, 231, 231) ;
    text-align: center;
    padding:10px;
}
strong{
    color:blue
}